@import "tailwindcss";
/* FULL scrollbar hide (desktop + iOS Safari) */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;   /* IE / old Edge */
  scrollbar-width: none;     /* Firefox */
  overscroll-behavior: contain;
}